<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>text vs utext</h1>
    <ul>
        <li>th:text = <span th:text="${data}"></span></li>
        <li>th:utext = <span th:utext="${data}"></span></li>
    </ul>
    <!-- 타임리프는 [[...]]를 변환하려 한다. 이를 변환하지 말라는 의미로 th:inline="none"를 지정해 줬다 -->
    <h1><span th:inline="none">[[...]] vs [(...)]</span></h1>
    <ul>
        <li><span th:inline="none">[[...]] = </span>[[${data}]]</li>
        <li><span th:inline="none">[(...)] = </span>[(${data})]</li>
    </ul>
</body>
</html>
<!--
unescape
 ※ 이스케이프(escape) : HTML에서 사용하는 특정 문자를 HTML 엔티티로 변경하는 것
escape를 사용하지 않으려면 어떻게 해야할까?
 th:text → th:utext
 [[…]] → [(…)]

위 HTML 결과
- 출력 결과 :
  th:text = Hello <b>Spring!</b>
  th:utext = Hello Spring! (Spring!이 bold)
  [[...]] = Hello <b>Spring!</b>
  [(...)] = Hello Spring! (Spring!이 bold)
- 소스 보기 :
  th:text = Hello &lt;bgt;Spring!&lt;/bgt;
  th:utext = Hello <b>Spring!</b>
  [[...]] = Hello &lt;bgt;Spring!&lt;/bgt;
  [(...)] = Hello <b>Spring!</b>
-->