<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>text vs utext</h1>
    <ul>
        <li>th:text = <span th:text="${data}"></span></li>
        <!-- 화면표시 : th:text = Hello <b>Spring!</b> -->
        <!-- 소스보기 : th:text = Hello &lt;bgt;Spring!&lt;/bgt; -->
        <li>th:utext = <span th:utext="${data}"></span></li>
        <!-- 화면표시 : th:utext = Hello Spring! (Spring!이 bold) -->
        <!-- 소스보기 : th:utext = Hello <b>Spring!</b> -->
    </ul>
    <!-- 타임리프는 [[...]]를 변환하려 한다. 변환하지 않을 경우에는 th:inline="none" 를 지정한다 -->
    <h1><span th:inline="none">[[...]] vs [(...)]</span></h1>
    <ul>
        <li><span th:inline="none">[[...]] = </span>[[${data}]]</li>
        <!-- 화면표시 : [[...]] = Hello <b>Spring!</b> -->
        <!-- 소스보기 : [[...]] = Hello &lt;bgt;Spring!&lt;/bgt; -->
        <li><span th:inline="none">[(...)] = </span>[(${data})]</li>
        <!-- 화면표시 : [(...)] = Hello Spring! (Spring!이 bold) -->
        <!-- 소스보기 : [(...)] = Hello <b>Spring!</b> -->
    </ul>
</body>
</html>
<!--
unescape
 ※ 이스케이프(escape) : HTML에서 사용하는 특정 문자를 HTML 엔티티로 변경하는 것
escape를 사용하지 않으려면 어떻게 해야할까?
 th:text → th:utext
 [[…]] → [(…)]

위 HTML 결과
- 출력 결과 :
  th:text = Hello <b>Spring!</b>
  th:utext = Hello Spring! (Spring!이 bold)
  [[...]] = Hello <b>Spring!</b>
  [(...)] = Hello Spring! (Spring!이 bold)
- 소스 보기 :
  th:text = Hello &lt;bgt;Spring!&lt;/bgt;
  th:utext = Hello <b>Spring!</b>
  [[...]] = Hello &lt;bgt;Spring!&lt;/bgt;
  [(...)] = Hello <b>Spring!</b>

** 주의
실제 서비스를 개발하다 보면 escape를 사용하지 않아서 HTML이 정상 렌더링 되지 않는 수 많은 문제가 발생한다.
escape를 기본으로 하고, 꼭 필요할 때만 unescape를 사용하도록 하자.

-->